frr version 8
frr defaults traditional
hostname {{ hostname }}
service integrated-vtysh-config
!

router ospf
 ospf router-id {{ router_id }}
 passive-interface default
 {% for intf in interfaces %}
 no passive-interface {{ intf.name }}
{% endfor %}
{% for net in networks %}
 network {{ net }} area 0
{% endfor %}
!

line vty